<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"> <!-- Connects style.css -->
    <link rel="stylesheet" href="{{url_for('static', filename='reset.css')}}"> <!-- Connects reset.css -->
</head>

<body>
    <div class="background5">
        <div class="container">
            <header class="header_list">
                <ul class="header_nav_list"> <!-- Creates the navigation list -->
                    <li><a class="links" href="/quiz">Quiz</a></li> <!-- Home link -->
                    <li><a class="links" href="/game">Game</a></li> <!-- Game link -->
                </ul>
            </header>
        </div>
    </div>
</body>

</html>